.header a,
a:hover {
  color: #f0ad4e;
  text-decoration: none;
}

.header h1 {
  letter-spacing: 15px;
  font-size: 300%;
}

.header p {
  color: white !important;
  font-size: 90%;
  letter-spacing: 3px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  color: #fff;
  background-color: #346270;
}

.nav-pills > li > a {
  color: #fff;
}

.nav-pills > li > a:hover {
  background-color: #346270;
}

.navbar-inverse {
  background-color: #222;
  border-color: #080808;
  padding: 1%;
  border-radius: 0;
}

@media (max-width: 767px) {
  .nav-pills > li {
    float: none;
  }

  .nav-pills {
    text-align: center;
  }

  .header h1 {
    font-size: 280%; 
    letter-spacing: 5px; 
  }

  .header {
    text-align: center; 
  }
}

.clear {
  clear: both; 
  height: 63px; 
}

.wrapper {
  min-height: 100%; 
}

html,
body {
  height: 100%; 
}

.films_block {
  text-align: center;
}

.films_block img {
  margin-bottom: 5%; 
  border-radius: 5px; 
  border: solid 5px #dad7d5; 
  width: 100%; 
}

.film_label {
  padding: 2%; 
  margin-bottom: 4%; 
}

/*div class="margin-8"*/
.margin-8 {
  margin-top: 8%;
}

.panel {
  border: none;
}

.panel-body {
  background-color: #f9f9f9; /*фоновый цвет*/
}

.panel-info > .panel-heading {
  background-color: #f0ad4e; /*фоновый цвет*/
  color: white; /*цвет букв - белый*/
  border-color: transparent; /*прозрачный цвет рамки*/
}

/*стилизуем слово ПОИСК*/
.sidebar-header {
  font-size: 120%; /*размер шрифта*/
  letter-spacing: 2px; /*межбуквенный интервал*/
}

/*Стилизуем форму*/
/*делаем рамку ВАШ ЗАПРОС и все остальные рамки без закруглений*/
.form-control {
  border-radius: 0px;
}

/*размер шрифта ВАШ ЗАПРОС уменьшаем*/
.input-lg {
  font-size: 14px; /*размер шрифта*/
}

/*Урок 40. Стилизуем панель РЕЙТИНГ ФИЛЬМОВ*/
.list-group-item-warning {
  color: #8a6d3b; /**/
  background-color: #f9f9f9; /**/
}

.badge {
  background-color: #000000; /*цвет значка меняем с серого на черный*/
}

/*Урок 45. Добавляем информацию о фильме (ниже трелера): Год, Рейтинг, Режисер (в значке badge).
Увеличим шрифт и отступы между значками.*/
.info-block {
  font-size: 120%; /*размер шрифта Год, Рейтинг, Режисер*/
}

.info-block .badge {
  font-size: 80%; /*размер шрифта в нутри значка (бэйджа)*/
}

.info-block span {
  margin-right: 3%; /*отступы между значками*/
}

/*Урок 46. Увеличиваем textarea*/
textarea.form-control {
  height: 200px;
}

/*Урок 49. Стилизуем данные таблицы*/
.table tbody > tr > td.vert-align {
  vertical-align: middle; /*название фильмов и данных фиксируем по средней линии*/
}

/*Урок 28. Стилизуем FOOTER.*/
footer {
  color: #666; /*цвет*/
  background: #222; /*цвет фона*/
  padding: 17px 0 18px 0; /*внутренние отступы*/
  border-top: 1px solid #000; /*рамка сверху, толщиной 1px, сплошная, цвет черный */
}

/*Поменяем цвет букв ссылки на сайт с синего на светло-серый*/
footer a {
  color: #999;
}

/*при наведении на ссылку мы меняем цвет из желтого на белый, используем псевдо класс hover*/
footer a:hover {
  color: #efefef;
}

/**/
